@using MvcBookStore1.Models
@using PagedList.Mvc;
@model PagedList.PagedList<MvcBookStore1.Models.SACH>

@helper Truncate(string input, int length)
    {
        if (input.Length < length)
        {
            @input
        }
        else
        {
            @input.Substring(0, length)<text>...</text>
        }
}
@{
    ViewBag.Title = "Sach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>QUẢN LÝ THÔNG TIN SÁCH</h3>
<p>
    @Html.ActionLink("THÊM MỚI","Themmoisach")
</p>
<table class="table" border="1">
    <tr>
        <th style="width:200px"> Tên sách </th>
        <th style="width:50px"> Đơn vị </th>
        <th style="width:100px"> Giá bán </th>
        <th style="width:300px"> Mô tả </th>
        <th style="width:120px"> Ảnh bìa </th>
        <th style="width:120px"> Tên chủ đề </th>
        <th style="width:100px"> Tên NXB </th>
        <th style="width:150px"> Ngày cập nhật </th>
        <th style="width:100px"> SL Tồn </th>
        <th style="width:100px"> Số lượt xem </th>
        <th style="width:100px"> Mới </th>
        <th style="width:200px"> </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tensach)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Donvitinh)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Dongia)
            </td>
            <td>
                @Truncate(item.Mota, 100)
            </td>
            <td style="text-align:center">
                <img src="@Url.Content("~/images/" + item.Hinhminhhoa)" style="max-height:100px"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CHUDE.TenChuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NHAXUATBAN.TenNXB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaycapnhat)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Soluongban)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.solanxem)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.moi)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Suasach", new { id = item.Masach }) |
                @Html.ActionLink("Chi tiết", "Chitietsach", new { id = item.Masach }) |
                @Html.ActionLink("Xóa", "Xoasach", new { id = item.Masach })
            </td>
        </tr>
    }
</table>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 4px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: #002266;
        color: white;
    }
</style>
@*Tạo liên kết các trang*@
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Sach", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
        border: 1px solid black;
        padding: 0.5em 1em;
        background-color: #E6E6FA;
    }

    .MenuTrang {
        margin: 1em;       
    }

        .MenuTrang li.active a {
            color: red !important;
        }
</style>
