@model MvcBookStore1.Models.SACH

@{
    ViewBag.Title = "Suasach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>ĐIỀU CHỈNH THÔNG TIN SÁCH</h3>

@using (Html.BeginForm("Suasach", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))///////////
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.Masach)
    <div class="form-group">
        @Html.LabelFor(model => model.Masach, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div style="font:18px; padding:5px 0 0 5px" >@Model.Masach</div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Tensach, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Tensach)
            @Html.ValidationMessageFor(model => model.Tensach)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Donvitinh, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Donvitinh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Donvitinh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Dongia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Dongia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Dongia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Hinhminhhoa, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="fileUpload" />
            <img src="@Url.Content("~/images/" + Model.Hinhminhhoa)" width="100px" /> (Ảnh đại diện)
            @*thông báo trùng*@
            @ViewBag.ThongBao
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MaCD, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MaCD")
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MaNXB, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MaNXB")
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ngaycapnhat, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="date" name="Ngaycapnhat" />
            @Html.ValidationMessageFor(model => model.Ngaycapnhat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Soluongban, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Soluongban, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Soluongban, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.solanxem, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.solanxem, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.solanxem, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.moi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.moi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.moi, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Mota, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <textarea name="Mota">@Model.Mota</textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="SỬA SÁCH" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("VỀ TRANG QUẢN LÝ SÁCH", "Sach")
</div>
