<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
    <title>CSS Free Templates with jQuery Slider</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="~/images/favicon.ico" />
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" media="all" />
    <script type="text/javascript" src="~/Scripts/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.jcarousel.min.js"></script>
    <!--[if IE 6]>
            <script type="text/javascript" src="js/png-fix.js"></script>
        <![endif]-->
    <script src="~/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>

    <script type="text/javascript" src="~/Scripts/functions.js"></script>
</head>
<body>
    <!-- Header -->
    <div id="header" class="shell">
        <div id="logo"><h1><a href="#">BestSeller</a></h1></div>
        <!-- Navigation -->
        <div id="navigation">
            <ul>
                <li>@Html.ActionLink("TRANG CHỦ", "Index", "Admin")</li>
                <li>@Html.ActionLink("Quản lý chủ đề", "Sanpham", "Admin")</li>
                <li>@Html.ActionLink("Quản lý Nhà xuất bản", "Nhaxuatban", "Admin")</li>
                <li>@Html.ActionLink("Quản lý sách", "Sach", "Admin")</li>
            </ul>
        </div>
        <!-- End Navigation -->
        <div class="cl">&nbsp;</div>
        <!-- Login-details -->     
        <!-- End Login-details -->
    </div>
    <!-- End Header -->
    <!-- Slider -->
    <!-- End Slider -->
    <!-- Main -->
    <div id="main" class="shell">
        <div class="container">
            @RenderBody()
        </div>

        <!-- Sidebar -->     
        <!-- End Sidebar -->
        <!-- Content -->
        <!-- Best-sellers -->
        <!-- End Best-sellers -->
    </div>
    <!-- End Content -->
    <div class="cl">&nbsp;</div>
    </div>
    <!-- End Main -->
    <!-- Footer -->
    <div id="footer" class="shell">
        <div class="top">
            <div class="cnt">
                <div class="col about">
                    <h4>About BestSellers</h4>
                    <p>Nulla porttitor pretium mattis. Mauris lorem massa, ultricies non mattis bibendum, semper ut erat. Morbi vulputate placerat ligula. Fusce <br />convallis, nisl a pellentesque viverra, ipsum leo sodales sapien, vitae egestas dolor nisl eu tortor. Etiam ut elit vitae nisl tempor tincidunt. Nunc sed elementum est. Phasellus sodales viverra mauris nec dictum. Fusce a leo libero. Cras accumsan enim nec massa semper eu hendrerit nisl faucibus. Sed lectus ligula, consequat eget bibendum eu, consequat nec nisl. In sed consequat elit. Praesent nec iaculis sapien. <br />Curabitur gravida pretium tincidunt.  </p>
                </div>
                <div class="col store">
                    <h4>Store</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Special Offers</a></li>
                        <li><a href="#">Log In</a></li>
                        <li><a href="#">Account</a></li>
                        <li><a href="#">Basket</a></li>
                        <li><a href="#">Checkout</a></li>
                    </ul>
                </div>
                <div class="col" id="newsletter">
                    <h4>Newsletter</h4>
                    <p>Lorem ipsum dolor sit amet  consectetur. </p>
                    <form action="" method="post">
                        <input type="text" class="field" value="Your Name" title="Your Name" />
                        <input type="text" class="field" value="Email" title="Email" />
                        <div class="form-buttons"><input type="submit" value="Submit" class="submit-btn" /></div>
                    </form>
                </div>
                <div class="cl">&nbsp;</div>
                <div class="copy">
                    <p>&copy; <a href="#">BestSeller.com</a>. Design by <a href="http://css-free-templates.com/">CSS-FREE-TEMPLATES.COM</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer -->

</body>
</html>